body{
    font-size: 1.5em;
    background-color: rgb(87, 87, 87);
}

h1{
    text-align: center;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif
}

main{
    font-size: 1.5em;
    max-width: 800px;
    min-height: 600px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 20px;

}

#notas{
    background-color: white;
    border-radius: 6px;
    font-size: 20px;
    border: 2px solid black
}



button{
    padding: 5px 30px;
    background-color: white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid black
}

button:hover{
    background-color: rgb(150, 150, 255);
    color: white;
}

button:active{
    background-color: rgb(85, 85, 255);
    color: white;
}